src/Version/GlobalAssemblyInfo.cs
src/Version/Version.h
src/Version/Version.wxi
bin
obj
Debug
Release
externals/cryptopp/adhoc.cpp*
*.tmp_*
doc/Doxyfile
*.user
externals/cppunit/lib
*.ncb
*.suo
/msi.sdf
/msi.opensdf
/ipch
