src/Version/GlobalAssemblyInfo.cs
src/Version/Version.h
src/Version/Version.wxi
bin
obj
Debug
Release
externals/cryptopp/adhoc.cpp*
*.tmp_*
doc/Doxyfile
*.vcproj.*.user
externals/cppunit/lib
*.ncb
*.suo
