TEST1=[TEST1]
TEST2=[TEST2]
INSTALLLOCATION=[INSTALLLOCATION] 
Manufacturer=[Manufacturer]
ProductCode=[ProductCode]
ProductLanguage=[ProductLanguage]
ProductName=[ProductName]
ProductVersion=[ProductVersion]
UpgradeCode=[UpgradeCode]

