<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment xmlns="http://schemas.microsoft.com/wix/2006/wi">

        <Property Id="IMPERSONATE_PASSWORD" Hidden="yes" />
        <!--<Property Id="ODBC_CONNECTION_STRING" Hidden="yes" />-->
        <PropertyRef Id="ODBC_CONNECTION_STRING"/>

        <?define DbLogonCanBeValidated    = (RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth" OR SERVICE_USERNAME)?>
        <?define DbLogonCannotBeValidated = NOT $(var.DbLogonCanBeValidated)?>

        <UI>
            <Property Id="loc_RuntimeDbCredDlg_IntegratedAuth" Value="!(loc.RuntimeDbCredDlg_IntegratedAuth)" />

            <!--
                Prompts for runtime database credentials. 

                \param RUNTIME_DATABASE_LOGON_TYPE one of WinAuth or SqlAuth
                \param CHECK_RUNTIME_DATABASE_PERMS yes/no to check perms in ADPRO database
                \return RUNTIME_DATABASE_USERNAME database username (with SqlAuth)
                \return RUNTIME_DATABASE_PASSWORD detabase password (with SqlAuth)   
            -->
            <Dialog Id="RuntimeDbCredDlg" Width="370" Height="270" Title="!(loc.RuntimeDbCredDlg_Header)">

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
                    <Publish Property="RUNTIME_DATABASE_LOGON_TYPE" Value="[RUNTIME_DATABASE_LOGON_TYPE]">1</Publish>
                    <Publish Property="RUNTIME_DATABASE_USERNAME" Value="[RUNTIME_DATABASE_USERNAME]">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>
                    <Publish Property="RUNTIME_DATABASE_PASSWORD" Value="[RUNTIME_DATABASE_PASSWORD]">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>

                    <Publish Property="RUNTIME_DATABASE_USERNAME">NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>
                    <Publish Property="RUNTIME_DATABASE_PASSWORD">NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>

                    <Condition Action="enable">LOGON_VALID = "1" OR  $(var.DbLogonCannotBeValidated)</Condition>
                    <Condition Action="disable">LOGON_VALID = "0" AND $(var.DbLogonCanBeValidated)</Condition>
                </Control>

                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.RuntimeDbCredDlg_Title)" />
                <Control Id="SubTitle" Type="Text" X="25" Y="23" Width="220" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.RuntimeDbCredDlg_SubTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.RuntimeDbCredDlg_BannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="Description" Type="Text" X="20" Y="55" Width="330" Height="20" Transparent="yes" Text="!(loc.RuntimeDbCredDlg_Description)" />

                <Control Id="SelectorLabel" Type="Text" X="20" Y="83" Width="320" Height="12" Text="!(loc.RuntimeDbCredDlg_SelectorLabel)" />

                <Control Id="DatabaseLogonType" Type="RadioButtonGroup" X="20" Y="98" Width="330" Height="30" Property="RUNTIME_DATABASE_LOGON_TYPE">
                    <RadioButtonGroup Property="RUNTIME_DATABASE_LOGON_TYPE">
                        <RadioButton Value="WinAuth" X="0" Y="0" Width="330" Height="15" Text="[loc_RuntimeDbCredDlg_IntegratedAuth]" />
                        <RadioButton Value="SqlAuth" X="0" Y="15" Width="330" Height="15" Text="!(loc.RuntimeDbCredDlg_PasswordAuth)" />
                    </RadioButtonGroup>
                    <Publish Property="LOGON_VALID" Value="0">1</Publish>

                    <Condition Action="hide">NOT LocalDatabaseServer = "yes" AND NOT SERVICE_USERNAME</Condition>
                    <Condition Action="show">LocalDatabaseServer = "yes" OR SERVICE_USERNAME</Condition>
                </Control>

                <Control Id="WindowsAuthNotAvailable" Type="Text" X="20" Y="98" Width="330" Height="30" Text="!(loc.RuntimeDbCredDlg_WindowsAuthNotAvailable)">
                    <Condition Action="show">NOT LocalDatabaseServer = "yes" AND NOT SERVICE_USERNAME</Condition>
                    <Condition Action="hide">LocalDatabaseServer = "yes" OR SERVICE_USERNAME</Condition>
                </Control>

                <Control Id="UsernameLabel" Type="Text" X="40" Y="135" Width="41" Height="10" Text="!(loc.RuntimeDbCredDlg_UsernameLabel)">
                    <Publish Property="LOGON_VALID" Value="0">1</Publish>
                    <Condition Action="disable">NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                    <Condition Action="enable">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                </Control>
                <Control Id="Username" Type="Edit" X="81" Y="133" Width="150" Height="15" Property="RUNTIME_DATABASE_USERNAME" Text="{64}">
                    <Publish Property="LOGON_VALID" Value="0">1</Publish>
                    <Condition Action="disable">NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                    <Condition Action="enable">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                </Control>

                <Control Id="PasswordLabel" Type="Text" X="40" Y="150" Width="41" Height="10" Text="!(loc.RuntimeDbCredDlg_PasswordLabel)">
                    <Condition Action="disable">NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                    <Condition Action="enable">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                </Control>
                <Control Id="Password" Password="yes" Type="Edit" X="81" Y="148" Width="150" Height="15" Property="RUNTIME_DATABASE_PASSWORD">
                    <Publish Property="LOGON_VALID" Value="0">1</Publish>
                    <Condition Action="disable">NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                    <Condition Action="enable">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Condition>
                </Control>

                <Control Id="TestButton" Type="PushButton" X="40" Y="173" Width="100" Height="15" Text="!(loc.RuntimeDbCredDlg_TestConnectionLabel)">
                    <!-- Clean up conditional properties -->
                    <Publish Property="ERROR_MESSAGE">1</Publish>
                    <Publish Property="ODBC_CONNECTION_ESTABLISHED">1</Publish>
                    <Publish Property="ODBC_SQL_RESULT" />

                    <Publish Property="ERROR_TITLE" Value="!(loc.InvalidLoginError_Title)">1</Publish>

                    <!-- for sql auth user should be not empty-->
                    <Publish Property="ERROR_MESSAGE" Value="Sql user cannot be empty">RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth" AND NOT RUNTIME_DATABASE_USERNAME</Publish>

                    <!-- First check that connection can be established. Use sql user/password for SqlAuth; impersonate as service user for WinAuth. -->
                    <Publish Property="ODBC_CONNECTION_STRING" Value="Driver=SQL Server;Server=[ODBC_SERVER];Uid=[RUNTIME_DATABASE_USERNAME];Pwd=[RUNTIME_DATABASE_PASSWORD];DATABASE=[RUNTIME_DATABASE_NAME]">NOT ERROR_MESSAGE AND RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>
                    <Publish Property="ODBC_CONNECTION_STRING" Value="Driver=SQL Server;Server=[ODBC_SERVER];Trusted_Connection=Yes;DATABASE=[RUNTIME_DATABASE_NAME]">NOT ERROR_MESSAGE AND NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>
                    <Publish Property="IMPERSONATE_USERNAME" Value="[SERVICE_USERNAME]">NOT ERROR_MESSAGE AND NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>
                    <Publish Property="IMPERSONATE_PASSWORD" Value="[SERVICE_PASSWORD]">NOT ERROR_MESSAGE AND NOT RUNTIME_DATABASE_LOGON_TYPE = "SqlAuth"</Publish>
                    <Publish Event="DoAction" Value="AsiUI_ODBC_Connect">NOT ERROR_MESSAGE</Publish>
                    <Publish Property="ERROR_MESSAGE" Value="[ODBC_ERROR]">NOT ERROR_MESSAGE AND NOT ODBC_CONNECTION_ESTABLISHED</Publish>
                    <Publish Property="ERROR_MESSAGE" Value="Cannot connect to database [ODBC_SERVER]">NOT ERROR_MESSAGE AND NOT ODBC_CONNECTION_ESTABLISHED</Publish>

                    <!-- Second, check that we have proper permissions in the specified database (select=1,update=2,insert=8,delete=0x10 => 0x1B) -->
                    <Publish Property="ODBC_SQL_FLAGS" Value="ODBC_SQL_FLAG_NO_ROWS_RETURN_EMPTY">NOT ERROR_MESSAGE AND CHECK_RUNTIME_DATABASE_PERMS="yes"</Publish>
                    <Publish Property="ODBC_SQL_QUERY" Value="SELECT 'OK' WHERE (PERMISSIONS(OBJECT_ID('[RUNTIME_DATABASE_PERMS_TABLE]')) &amp; 0x1B) = 0x1B">NOT ERROR_MESSAGE AND CHECK_RUNTIME_DATABASE_PERMS="yes"</Publish>
                    <Publish Event="DoAction" Value="AsiUI_ODBC_GetString">NOT ERROR_MESSAGE AND CHECK_RUNTIME_DATABASE_PERMS="yes"</Publish>
                    <Publish Property="ERROR_MESSAGE" Value="!(loc.RuntimeDbCredDlg_NoRequiredPermissions)">NOT ERROR_MESSAGE AND NOT ODBC_SQL_RESULT = "OK" AND CHECK_RUNTIME_DATABASE_PERMS="yes"</Publish>

                    <!-- clean up impersonation -->
                    <Publish Property="IMPERSONATE_USERNAME">1</Publish>
                    <Publish Property="IMPERSONATE_PASSWORD">1</Publish>

                    <Publish Event="SpawnDialog" Value="GenericErrorDlg">ERROR_MESSAGE</Publish>
                    <Publish Property="LOGON_VALID" Value="1">NOT ERROR_MESSAGE</Publish>

                    <Condition Action="disable">$(var.DbLogonCannotBeValidated)</Condition>
                    <Condition Action="enable">$(var.DbLogonCanBeValidated)</Condition>
                </Control>

                <Control Id="TestResult_Success" Type="Icon" IconSize="16" X="145" Y="174" Width="12" Height="12" Text="AsiUI_SuccessIco">
                    <Condition Action="hide">LOGON_VALID = "0"</Condition>
                    <Condition Action="show">LOGON_VALID = "1"</Condition>
                </Control>

                <Control Id="TestResult_Failure" Type="Icon" IconSize="16" X="145" Y="174" Width="12" Height="12" Text="AsiUI_ErrorIco">
                    <Condition Action="hide">LOGON_VALID = "1" OR  $(var.DbLogonCannotBeValidated)</Condition>
                    <Condition Action="show">LOGON_VALID = "0" AND $(var.DbLogonCanBeValidated)</Condition>
                </Control>
                <Control Id="TestPrompt" Type="Text" X="165" Y="176" Width="185" Height="10" Text="!(loc.RuntimeDbCredDlg_TestPrompt)">
                    <Condition Action="hide">LOGON_VALID = "1" OR  $(var.DbLogonCannotBeValidated)</Condition>
                    <Condition Action="show">LOGON_VALID = "0" AND $(var.DbLogonCanBeValidated)</Condition>
                </Control>

                <Control Id="CannotTestConnectionLabel" Type="Text" X="20" Y="205" Width="330" Height="20" Transparent="yes" Text="!(loc.RuntimeDbCredDlg_CannotTestConnectionForLocalSystem)">
                    <Condition Action="show">$(var.DbLogonCannotBeValidated)</Condition>
                    <Condition Action="hide">$(var.DbLogonCanBeValidated)</Condition>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
