<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment xmlns="http://schemas.microsoft.com/wix/2006/wi">

        <Property Id="DefaultDatabaseServer" Value="(local)" />

        <UI>
			<!--
			Prompts for database location
			Also pre-populates the list of available SQL servers via DMO.
			\return DATABASE_SERVER: database server (for MSSQL)
			\return ODBC_SERVER:     database server suitable for ODBC-based custom actions (for MSSQL)
			-->
            <Dialog Id="SelectDbDlg" Width="370" Height="270" Title="!(loc.SelectDbDlg_Header)">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.SelectDbDlg_BannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SelectDbDlg_Title)" />
                <Control Id="SubTitle" Type="Text" X="25" Y="21" Width="200" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.SelectDbDlg_SubTitle)" />

                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="Description" Type="Text" X="20" Y="55" Width="340" Height="30" Text="!(loc.SelectDbDlg_Description)" />

                <Control Id="ServerLabel" Type="Text" X="50" Y="90" Width="90" Height="10" Text="!(loc.SelectDbDlg_ServerLabel)" />
                <Control Id="Server" Type="ComboBox" X="140" Y="90" Width="140" Height="15" Property="DATABASE_SERVER">
                    <ComboBox Property="DATABASE_SERVER">
                        <ListItem Text="[DefaultDatabaseServer]" Value="[DefaultDatabaseServer]" />
                    </ComboBox>
                </Control>

                <Control Id="ServerBrowse" Type="PushButton" X="290" Y="90" Width="60" Height="15" Text="!(loc.SelectDbDlg_DbBrowse)">
                    <Publish Property="DSOP_SCOPE_TYPES" Value="DSOP_SCOPE_TYPE_USER_ENTERED_UPLEVEL_SCOPE|DSOP_SCOPE_TYPE_USER_ENTERED_DOWNLEVEL_SCOPE|DSOP_SCOPE_TYPE_GLOBAL_CATALOG|DSOP_SCOPE_TYPE_EXTERNAL_UPLEVEL_DOMAIN|DSOP_SCOPE_TYPE_EXTERNAL_DOWNLEVEL_DOMAIN">1</Publish>
                    <Publish Property="DSOP_SCOPE_TYPES" Value="[DSOP_SCOPE_TYPES]|DSOP_SCOPE_TYPE_WORKGROUP|DSOP_SCOPE_TYPE_UPLEVEL_JOINED_DOMAIN|DSOP_SCOPE_TYPE_DOWNLEVEL_JOINED_DOMAIN">1</Publish>
                    <Publish Property="DSOP_SCOPE_FLAGS">1</Publish>
                    <Publish Property="DSOP_SCOPE_FILTER_FLAGS" Value="DSOP_FILTER_COMPUTERS">1</Publish>
                    <Publish Property="DSOP_DOWNLEVEL_SCOPE_FILTER_FLAGS" Value="DSOP_DOWNLEVEL_FILTER_COMPUTERS|DSOP_DOWNLEVEL_FILTER_GLOBAL_GROUPS|DSOP_DOWNLEVEL_FILTER_ALL_WELLKNOWN_SIDS">1</Publish>
                    <Publish Event="DoAction" Value="AsiUI_DirectoryObjectPicker">1</Publish>
                    <Publish Property="DATABASE_SERVER" Value="[DSOP_UPN]"><![CDATA[DSOP_UPN <> ""]]></Publish>
                    <Publish Property="DATABASE_SERVER" Value="[DSOP_NAME]"><![CDATA[DSOP_NAME <> "" AND DSOP_UPN = ""]]></Publish>
                </Control>

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
                    <Publish Property="DATABASE_SERVER" Value="[ComputerName]">DATABASE_SERVER = "(local)"</Publish>
                    <Publish Property="DATABASE_SERVER" Value="[DATABASE_SERVER]">NOT (DATABASE_SERVER = "(local)")</Publish>

					<!-- Make sure server is not empty and there are no '(local)' after the above replacement
			     (synatx '(local):1234' is not acceptable) -->
                    <Publish Property="ERROR_MESSAGE">1</Publish>
                    <Publish Property="ERROR_MESSAGE" Value="!(loc.SelectDbDlg_EmptyServer)">NOT DATABASE_SERVER</Publish>
                    <Publish Property="ERROR_MESSAGE" Value="!(loc.SelectDbDlg_InvalidSyntax)"><![CDATA[DATABASE_SERVER >< "(" OR DATABASE_SERVER >< ")"]]></Publish>
                    <Publish Event="SpawnDialog" Value="GenericErrorDlg">ERROR_MESSAGE</Publish>

                    <!-- Create ODBC_SERVER property from DATABASE_SERVER, replacing ':' with ',' (MSSQL port separator) -->
                    <Publish Property="STRING_VALUE_FROM" Value="[DATABASE_SERVER]">1</Publish>
                    <Publish Property="STRING_REPLACE_FROM" Value=":">1</Publish>
                    <Publish Property="STRING_REPLACE_TO" Value=",">1</Publish>
                    <Publish Event="DoAction" Value="AsiUI_String_Replace">1</Publish>
                    <Publish Property="ODBC_SERVER" Value="[STRING_VALUE_TO]">1</Publish>

                    <!-- Set LocalDatabaseServer to 'yes' if selected/entered databse is on this computer -->
                    <Publish Property="SDD_LocalServerSearch1" Value="[ComputerName]:">1</Publish>
                    <Publish Property="SDD_LocalServerSearch2" Value="[ComputerName]\">1</Publish>
                    <Publish Property="SDD_ServerForSearch" Value="[DATABASE_SERVER]:">1</Publish>
                    <Publish Property="LocalDatabaseServer" />
                    <Publish Property="LocalDatabaseServer" Value="yes"><![CDATA[SDD_ServerForSearch >< SDD_LocalServerSearch1 OR SDD_ServerForSearch >< SDD_LocalServerSearch2 OR SDD_ServerForSearch >< "localhost:" OR SDD_ServerForSearch >< "localhost\"]]></Publish>
                </Control>

            </Dialog>
        </UI>

        <!-- Custom actions to populate initial values and available servers list -->
        <CustomAction Id="SetDefaultDbServer" Property="DefaultDatabaseServer" Value="[DATABASE_SERVER]" />

        <CustomAction Id="SetSqlDmoListLocal" Property="SQLDMO_LIST_LOCAL" Value="[DefaultDatabaseServer]" />
        <CustomAction Id="SetSqlDmoListIndex" Property="SQLDMO_LIST_INDEX" Value="2" />
        <CustomAction Id="SetSqlDmoListProperty" Property="SQLDMO_LIST_PROPERTY" Value="DATABASE_SERVER" />
        <CustomAction Id="SetSqlDmoListType" Property="SQLDMO_LIST_TYPE" Value="ComboBox" />

        <InstallUISequence>
            <Custom Action="SetDefaultDbServer" After="CostInitialize">DATABASE_SERVER</Custom>

            <Custom Action="SetSqlDmoListProperty" Before="AsiUI_SQLDMO_ListAvailableSQLServers" />
            <Custom Action="SetSqlDmoListType" Before="AsiUI_SQLDMO_ListAvailableSQLServers" />
            <Custom Action="SetSqlDmoListIndex" Before="AsiUI_SQLDMO_ListAvailableSQLServers" />
            <Custom Action="SetSqlDmoListLocal" Before="AsiUI_SQLDMO_ListAvailableSQLServers" />
            <Custom Action="AsiUI_SQLDMO_ListAvailableSQLServers" Before="CostInitialize">NOT Installed AND NOT (DBTYPE = "Access")</Custom>
        </InstallUISequence>
    </Fragment>
</Wix>
